body {
  font-family: "Open Sans", sans-serif;
}
/* Common shared styles */
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  color: #ffffff;
  background-color: #fd6e0a;
  border: 0;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}
/* header style*/
.header {
  background-color: #fff8f3;
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/*nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 50px;
  margin: 0px 230px 0px 226px;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
}
nav > ul > li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
  margin-right: 50px;
}
nav ul {
  display: flex;
  align-items: center;
}

.dark-2 {
  color: #757575;
}
/* banner styles */
.banner-greeting {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  color: #181818;
}
.banner-content {
  width: 585px;
}
.banner-description {
  font-size: 18px;
}
.banner-profile-pic {
  max-width: 580px;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 38px 0px 230px;
}
